<h2>Menu component!</h2>

<label for="addpizza">Add Veg Pizza</label>
<button id="addpizza" (click)="addVegPizza()">+</button> <br>

<label for="removepizza">Remove Veg Pizza</label>
<button id="removepizza" (click)="removeVegPizza()">-</button> <br>

<label for="addnonvegpizza">Add Non Veg Pizza</label>
<button  id="addnonvegpizza" (click)="addNonVegPizza()">+</button> <br>

<label for="removenonvegpizza">Remove Non Veg Pizza</label>
<button id="removenonvegpizza" (click)="removeNonVegPizza()">-</button> <br>


